  body{
        margin: 0;
        padding: 0;
        background-image: url('./assets/eco friendly.jpg');
        background-size: cover;
        background-position: center;
        
    }
    h1 , #distu {
        border: 5px solid #ECDFCC;
    }

    .chaturdhi{
        text-align: center;
        color:white;
    }
    #planet{
        color:white;
    }
    #webpage{
        width: 110%;
    }
    #idols{
        postion: static;
        margin: 10px;;
        padding:0 ;
        width: 100%;
        border: 5px solid white;
    }
    .footer{
        position: fixed;
        bottom: 20px;
        right: 20px;
        background-color: rgba(0, 0, 0, 0.7);
        color: white;
        padding: 10px;
        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
        border-radius: 5px;
    }
